<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body class="container-fluid">
        <%- include('partials/navbar') %>

            <div class="row justify-content-center vertical-center body-text">
                <div class="col-1 col-sm-2 col-md"></div>
                <div class="col-10 col-sm-8 col-md">
                    <h1>Hello World!</h1>
                    <p>This website was created using the <a href="https://getbootstrap.com/">Bootstrap</a> toolkit,
                        whose
                        code
                        was uploaded to a <a href="https://github.com/rephlekt/website">Github</a> repo, which is
                        watched
                        and
                        tested by <a href="https://travis-ci.com">Travis CI</a>, which then deploys a
                        <a href="https://docker.com">Docker</a> container running an <a
                            href="https://expressjs.com">Express JS</a>
                        server to an
                        <a href="https://aws.amazon.com/elasticbeanstalk/">AWS Elastic Beanstalk</a> environment.
                    </p>
                </div>
                <div class="col-1 col-sm-2 col-md"></div>
            </div>

            <%- include('partials/bootstrap_footer.ejs') %>
    </body>

</html>